---
import BlazeSlider from "blaze-slider";
---

<template>
  <div class="slider-container">
    <div class="blaze-slider">
      <div class="blaze-slide">
        <!-- <img src="path/to/image1.jpg" alt="Image 1" /> -->
        test1
      </div>
      <div class="blaze-slide">
        <!-- <img src="path/to/image2.jpg" alt="Image 2" /> -->
        test2
      </div>
    </div>
  </div>
</template>

<script is:inline>
//import BlazeSlider from "blaze-slider";
console.log("TESSSSS");
const el = document.querySelector(".slider-container");
const slider = new BlazeSlider(el, {
  all: {
    slidesToShow: 3,
  },
});
</script>

<style>
  .slider-container {
    width: 100%;
  }
</style>
