---
import Lightbox from "@julian_cataldo/astro-lightbox/Lightbox.astro";
import Image from "@astrojs/image";

import { Container } from "@littlesticks/odyssey-theme-components";
const images = await Astro.glob(
  "../../../../public/assets/images/items/*"
).then((files) => {
  return files.map((file) => file.default);
});

import "photoswipe/style.css";
// ...
---

<!-- {images.map(image => (
    /* <div class="carousel-item">
      <img
        class="d-block w-100"
        src={image.src}
        alt=""
        loading="lazy"
      />
    </div> */
  ))
}
 -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Untitled</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css"
  />
</head>

<body>
  <div class="photo-gallery">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">I nostri prodotti</h2>
        <p class="text-center">Scopri la nostra collezione</p>
      </div>
      <div class="row photos">
        {
          images.map(image => (
          <div class="col-sm-6 col-md-4 col-lg-3 item">
          <a
            href={image.src}
            data-lightbox="photos"
            ><img
              class="img-fluid"
              src={image.src}
            /></a>
        </div>
          ))
        }
        
        </div>
      </div>
    </div>
  </div>
  <script
    is:line
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  ></script>
  <script
    is:line
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
  ></script>
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"
  ></script>
</body>

<style>
  .photo-gallery p {
    color: #7d8285;
  }

  .photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }

  @media (max-width: 767px) {
    .photo-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }

  .photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
  }

  .photo-gallery .intro p {
    margin-bottom: 0;
  }

  .photo-gallery .photos {
    padding-bottom: 20px;
  }

  .photo-gallery .item {
    padding-bottom: 30px;
  }
</style>
