---
import { Icon } from "astro-icon";
import {
  Button,
  FormInput,
  FormSelect,
  FormTextarea,
} from "@littlesticks/odyssey-theme-components";

const selectOptions = ["Google Search", "Social Media", "Email"];
---

<form
  name="Contact Form"
  method="POST"
  action="https://api.web3forms.com/submit"
>
  <input
    type="hidden"
    name="access_key"
    value="a51d5c4e-90ed-43e0-8039-0a629740d1df"
  />
  <FormInput type="text" label="First Name" name="First Name" placeholder="John"
  />
  <FormInput type="text" label="Last Name" name="Last Name" placeholder="Doe" />
  <FormInput
    type="email"
    label="Email"
    name="Email"
    placeholder="hello@example.com"
  />
  <Button customIcon
    >Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
  <FormInput type="submit" label="Submite!" name="Last Name" placeholder="Doe"
  />
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
