---
import { TextSection } from "@littlesticks/odyssey-theme-components";
import Layout from "../../layouts/Page.astro";
import HeroSection from "../../components/sections/heros/HeroSection.astro";

const seo = {
  title: "About | Astro Odyssey Theme",
  description: "About Page",
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <h1>Dicono di noi</h1>
      <p></p>
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/coconutshells.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
  </HeroSection>
  <TextSection>
    <h3>Ambiente</h3>
    <p>
      Siamo una squadra appassionata di individui uniti dalla nostra profonda
      dedizione all'ambiente. La nostra missione è nata dalla convinzione che è
      possibile coniugare la passione per la sostenibilità con la creazione di
      prodotti di alta qualità. <br />Ogni gioiello e oggetto in gusci di cocco
      che portiamo alla luce è una manifestazione tangibile di questo impegno.
      La nostra storia è guidata dalla visione di contribuire positivamente al
      pianeta, utilizzando materiali riciclati o provenienti da fonti
      sostenibili.<br />Ciò che ci spinge è la consapevolezza che anche le
      azioni più piccole possono avere un impatto significativo. Siamo
      orgogliosi di essere una voce per l'ambiente e di creare prodotti che
      riflettono la nostra passione. Siamo grati per il supporto della nostra
      comunità di clienti che condivide i nostri valori, e continueremo a
      lavorare instancabilmente per un futuro più sostenibile.
    </p>
    <h3>Determinazione</h3>
    <p>
      Siamo un gruppo di individui straordinariamente determinati, uniti da una
      fiamma ardente che ci spinge a compiere azioni significative. La nostra
      missione di combinare la passione per l'ecosostenibilità con la creazione
      di prodotti di alta qualità è alimentata dalla nostra inarrestabile
      determinazione. <br />Ogni gioiello e oggetto in gusci di cocco che
      realizziamo è un testamento a quanto sia potente il perseguimento di un
      obiettivo. La nostra storia è plasmata dalla visione di un mondo migliore,
      in cui ogni scelta conta nel contribuire al bene del pianeta. Siamo mossi
      dalla ferma convinzione che possiamo fare la differenza, una tazza in
      guscio di cocco alla volta. Siamo orgogliosi di essere dei veri agenti di
      cambiamento e di creare prodotti che sono manifestazioni della nostra
      determinazione. <br /><br />Siamo grati per il supporto della comunità di
      clienti che condividono la nostra stessa determinazione e continueremo a
      lottare con passione per un futuro più sostenibile.
    </p>
  </TextSection>
</Layout>
